
@{
    ViewData["Title"] = "AddRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/css/toast.css" rel="stylesheet" />

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Add Room</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Room Number</label>
                                <input class="form-control" id="roomNumberId" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Room type</label>
                                <select  class="form-control" id="idRoomType">
                                    <option>Select</option>
                                    <option>Single</option>
                                    <option>Double</option>
                                    <option>Quad</option>
                                    <option>King</option>
                                    <option>Suite</option>
                                    <option>Villa</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>AC/Non AC</label>
                                <select class="form-control" id="idAC">
                                    <option>Select</option>
                                    <option>AC</option>
                                    <option>Non Ac</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Food</label>
                                <select class="form-control" id="idFood">
                                    <option>Select</option>
                                    <option>Free Breakfast</option>
                                    <option>Free Lunch</option>
                                    <option>Free Dinner</option>
                                    <option>Free Breakfast & Dinner</option>
                                    <option>Free Welcome Drink</option>
                                    <option>No Free Food</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Bed Count</label>
                                <select class="form-control" id="idBedCount">
                                    <option>Select</option>
                                    <option>1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Charges for Cancellation</label>
                                <select class="form-control" id="idForCancellation">
                                    <option>Select</option>
                                    <option>Free</option>
                                    <option>5% Before 24 Hours</option>
                                    <option>No Cancellation Allow </option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Rent</label>
                                <input class="form-control" id="idRent" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Mobile Number</label>
                                <input class="form-control" id="idMobileNo" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="custom-file mb-3">
                        <label>Room Photo</label>
                        <input type="file" id="idFile" name="filename">
                        <div class="col-md-1"><img id="RoomPhotoFile" width="50" /></div>
                    </div>
                    <div class="form-group">
                        <label>About Room</label>
<textarea cols="30" rows="4" class="form-control" id="idMassage"></textarea>
                    </div>
                    <div class="m-t-20 text-center">
                        <button class="btn btn-primary submit-btn saveRoom">Save</button>
                        <button class="btn btn-danger submit-btn canselRoom">Cancel</button>
                    </div>
            </div>
        </div>
    </div>
</div>
first

<script>
    
    $(document).ready(function () {
        $('.saveRoom').click(function () {
            RoomNumber = $('#roomNumberId').val();
            RoomType = $('#idRoomType').val();
            AC = $('#idAC').val();
            Food = $('#idFood').val();
            Photo = $('#idFile').attr('src');
            BedCount = $('#idBedCount').val();
            ChargeForCancellation = $('#idForCancellation').val();
            Rent = $('#idRent').val();
            MobileNo = $('#idMobileNo').val();
            Massage = $('#idMassage').val();
            alert(Photo);
            var jsonObject = { 'roomNumber': RoomNumber, "roomType": RoomType, "aC": AC, "food": Food, 'bedCount': BedCount, 'chargeForCancellation': ChargeForCancellation, 'rent': Rent, 'phoneNo': MobileNo, 'photo': Photo,'massage': Massage };
            $.ajax({
                type: "POST",
                url: "http://localhost:44364/api/RoomAPI/InsertRoom",
                contentType: "application/json",
                data: JSON.stringify(jsonObject),
                success: function (response) {
                    //var NewRoomId = response.id;
                    //var TotalFiles = document.getElementById('idFile').files.length;
                    //if (TotalFiles > 0) {
                    //    var newform = new FormData();
                    //    newform.append("RoomId", NewRoomId);
                    //    for (var i = 0; i < TotalFiles; i++) {
                    //        newform.append("Image", document.getElementById('idFile').files[i]);
                    //    }
                    //    $.ajax({
                    //        type: 'post',
                    //        url: '/Home/MYFileUploadingMethod',
                    //        data: newform,
                    //        dataType: 'json',
                    //        contentType: false,
                    //        processData: false,
                    //        success: function (fileResposne) {
                    //            if (fileResposne == 'File Uploaded successfully') {

                    //                alert(fileResposne);
                    //                $('#roomNumberId').val('');
                    //                $('#idRoomType').val('');
                    //                $('#idAC').val('');
                    //                $('#idFood').val('');
                    //                $('#idBedCount').val('');
                    //                $('#idForCancellation').val('');
                    //                $('#idRent').val('');
                    //                $('#idMobileNo').val('');
                    //                $('#idFile').val('');
                    //                $('#idMassage').val('');
                    //            }
                    //            else {
                    //                alert(fileResposne);
                    //            }
                    //        }
                    //    });

                    //} else {
                    if (response.status == 'Room Added') {
                        alert(response.status);
                       // launch_toast("Room Added Successfully", 'white', 'fa fa-bell');
                        $('#roomNumberId').val('');
                        $('#idRoomType').val('');
                        $('#idAC').val('');
                        $('#idFood').val('');
                        $('#idBedCount').val('');
                        $('#idForCancellation').val('');
                        $('#idRent').val('');
                        $('#idMobileNo').val('');
                        $('#idFile').val('');
                        $('#idMassage').val('');
                    }   
                },
                error: function (errormsg) { prompt("", JSON.stringify(errormsg)) }
            });
        });
        $("#idFile").change(function () {
            var input = this;
            if (input.files[0]) {
                var reader = new FileReader();


                reader.readAsDataURL(input.files[0]); // convert to base64 string

                reader.onload = function (e) {
                    $('#RoomPhotoFile').attr('src', e.target.result);
                }
            }
        });
       
    });
</script>
<script src="~/js/site.js"></script>

