
@{
    ViewData["Title"] = "AllRooms";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="page-wrapper">
    <!-- row -->
    <div class="content">

        <div class="row page-titles mx-0">
            <div class="col-sm-6 p-md-0">
                <div class="welcome-text">
                    <h4>All Rooms</h4>
                </div>
            </div>
            <div class="col-sm-6 p-md-0 justify-content-sm-end mt-2 mt-sm-0 d-flex">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">Rooms</a></li>
                    <li class="breadcrumb-item active"><a href="javascript:void(0);">AllRooms</a></li>
                </ol>
            </div>
        </div>

        <div class="row">
            <div class="col-xl-3 col-xxl-4 col-lg-4 col-md-6 col-sm-6">
                <div class="card">
                    <img class="img-fluid" src="images/courses/pic1.jpg" alt="">
                    <div class="card-body">
                        <h4>Why is Early Education Essential?</h4>
                        <ul class="list-group mb-3 list-group-flush">
                            <li class="list-group-item px-0 border-top-0 d-flex justify-content-between">
                                <span class="mb-0 text-muted">Room Type</span>
                                <a href="javascript:void(0);"><i class="la la-heart-o mr-1"></i><strong>Single</strong></a>
                            </li>
                            <li class="list-group-item px-0 d-flex justify-content-between">
                                <span class="mb-0">AC/Non AC :</span><strong>AC</strong>
                            </li>
                            <li class="list-group-item px-0 d-flex justify-content-between">
                                <span class="mb-0">Food :</span><strong>Free Breakfast</strong>
                            </li>
                            <li class="list-group-item px-0 d-flex justify-content-between">
                                <span><i class="text-primary mr-2"></i>Bed Count</span><strong>3</strong>
                            </li>
                            <li class="list-group-item px-0 d-flex justify-content-between">
                                <span><i class="text-primary mr-2"></i>Rent</span><strong>20</strong>
                            </li>
                        </ul>
                        <a href="about-courses.html" class="btn btn-primary">Read More</a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

