
@{
    ViewData["Title"] = "EditRoom";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*var RoomID=@Html.Raw(ViewBag.roomId)*@

<div class="page-wrapper">
    <div class="content">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <h4 class="page-title">Edit Room</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Room Number</label>
                            <input class="form-control" type="text" value='' id="updatedRoomNumber">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Room type</label>
                            <select class="form-control" id="updatedRoomType">
                                <option>Select</option>
                                <option selected>Single</option>
                                <option>Double</option>
                                <option>Quad</option>
                                <option>King</option>
                                <option>Suite</option>
                                <option>Villa</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>AC/Non AC</label>
                            <select class="form-control" id="updatedAc">
                                <option>Select</option>
                                <option selected>AC</option>
                                <option>Non Ac</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Food</label>
                            <select class="form-control" id="updatedFood">
                                <option>Select</option>
                                <option>Free Breakfast</option>
                                <option>Free Lunch</option>
                                <option>Free Dinner</option>
                                <option selected>Free Breakfast & Dinner</option>
                                <option>Free Welcome Drink</option>
                                <option>No Free Food</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Bed Count</label>
                            <select class="form-control" id="updaetedBedCount">
                                <option>Select</option>
                                <option selected>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Charges for Cancellation</label>
                            <select class="form-control" id="updatedChargeForCancelation">
                                <option>Select</option>
                                <option>Free</option>
                                <option>5% Before 24 Hours</option>
                                <option selected>No Cancellation Allow </option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Rent</label>
                            <input class="form-control" id="updatedRent" type="text">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Mobile Number</label>
                            <input class="form-control" id="updatedMobileNo" type="text">
                        </div>
                    </div>
                </div>
                <div class="custom-file mb-3">
                    <input type="file" id="updatedFile" name="filename">
                    <label class="custom-file-label">Choose file (Photo)</label>
                </div>
                <div class="form-group">
                    <label>Message</label>
<textarea cols="30" rows="4" class="form-control" id="updatedMassage"></textarea>
                </div>
                <div class="m-t-20 text-center">
                    <button class="btn btn-primary submit-btn submit">Save</button>
                    <button class="btn btn-danger submit-btn cancel">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var RoomID =@Html.Raw(ViewBag.Id);
        var jsonObject = { "roomId": RoomID };
        $.ajax({
            type: "POST",
            data: JSON.stringify(jsonObject),
            url: "http://localhost:44364/api/RoomAPI/updatedRoom",
            contentType: "application/json",
            success: function (response) {
                $.each(response, function (index, value) {
                    $('#updatedRoomNumber').val(value.roomNumber);
                    $('#updatedRoomType').val(value.roomType);
                    $('#updatedRent').val(value.rent);
                    $('#updatedMobileNo').val(value.phoneNo);
                    $('#updatedAc').val(value.ac);
                    $('#updatedChargeForCancelation').val(value.chargeForCancellation);
                    $('#updatedFile').attr(value.photo);
                    $('#updatedFood').val(value.food);
                    $('#updaetedBedCount').val(value.bedCount);
                    $('#updatedMassage').val(value.massage);
                });
            }
        });
        $('.submit').click(function () {
             roomNumber=$('#updatedRoomNumber').val();
             roomType=$('#updatedRoomType').val();
             rent=$('#updatedRent').val();
             phoneNo = $('#updatedMobileNo').val();
             Ac=$('#updatedAc').val();
             ChargeForCancellation = $('#updatedChargeForCancelation').val();
             photo = $('#updatedFile').attr('src');
             food=$('#updatedFood').val();
             bedCount=$('#updaetedBedCount').val();
             massage = $('#updatedMassage').val();
            var jsonObject = { 'roomId': RoomID, 'roomNumber': roomNumber, "roomType": roomType, "aC": Ac, "food": food, 'bedCount': bedCount, 'chargeForCancellation': ChargeForCancellation, 'rent': rent, 'phoneNo': phoneNo, 'photo': photo, 'massage': massage };
            $.ajax({
                type: "PUT",
                data: JSON.stringify(jsonObject),
                url: "http://localhost:44364/api/RoomAPI/updateRoom",
                contentType: "application/json",
                success: function (response) {
                    alert(response.status);
                        $('#updatedRoomNumber').val('');
                        $('#updatedRoomType').val('');
                        $('#updatedRent').val('');
                        $('#updatedPhoneNo').val('');
                        $('#updatedAc').val('');
                        $('#updatedChargeForCancelation').val('');
                        $('#updatedFile').attr('');
                        $('#updatedFood').val('');
                        $('#updatedBedCount').val('');
                        $('#updatedMassage').val('');
                        window.location.href = '/Home/AllRoom';
                }
            });
        });
    });
</script>