
@{
    Layout = null;
}

<!doctype html>
<html lang="en">

<!-- Mirrored from templates.iqonic.design/prox/html/backend/auth-sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Aug 2021 17:08:27 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="shortcut icon" type="image/x-icon" href="/assets/img/favicon.ico">
    <title>Hotel - Bootstrap 4 Admin Template</title>


    <link rel="stylesheet" href="/login/css/backend.min.css">
    <link rel="stylesheet" href="/login/vendor/%40fortawesome/fontawesome-free/css/all.min.css">
    <link rel="stylesheet" href="/login/vendor/line-awesome/dist/line-awesome/css/line-awesome.min.css">
    <link rel="stylesheet" href="/login/vendor/remixicon/fonts/remixicon.css">
    <link rel="stylesheet" href="/login/vendor/%40icon/dripicons/dripicons.css">

    <link rel='stylesheet' href='/login/vendor/fullcalendar/core/main.css' />
    <link rel='stylesheet' href='/login/vendor/fullcalendar/daygrid/main.css' />
    <link rel='stylesheet' href='/login/vendor/fullcalendar/timegrid/main.css' />
    <link rel='stylesheet' href='/login/vendor/fullcalendar/list/main.css' />
    <link rel="stylesheet" href="/login/vendor/mapbox/mapbox-gl.css">
</head>
<body class=" ">
    <!-- loader Start -->
    <div id="loading">
        <div id="loading-center">
        </div>
    </div>
    <!-- loader END -->

    <div class="wrapper">
        <section class="login-content">
            <img src="/login/images/login/02.png" class="lb-img" alt="">
            <img src="/login/images/login/03.png" class="rb-img" alt="">
            <div class="container h-100">
                <div class="row align-items-center justify-content-center h-100">
                    <div class="col-12">
                        <div class="row align-items-center">
                            <div class="col-lg-6 mb-lg-0 mb-4 mt-lg-0 mt-4">
                                <img src="/login/images/login/01.png" class="img-fluid w-80" alt="">
                            </div>
                            <div class="col-lg-6">
                                <h2 class="mb-2">Sign In</h2>
                                <p>To Keep connected with us please login with your personal info.</p>
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="floating-label form-group">
                                                <input class="floating-input form-control" type="email" placeholder=" " id="loginEmail">
                                                <label>Email</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-12">
                                            <div class="floating-label form-group">
                                                <input class="floating-input form-control" type="password" placeholder=" " id="loginPassword">
                                                <label>Password</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="custom-control custom-checkbox mb-3">
                                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                                <label class="custom-control-label" for="customCheck1">Remember Me</label>
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <a href="auth-recoverpw.html" class="text-primary float-right">Forgot Password?</a>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary signInBtn">Sign In</button>
                                    <p class="mt-3">
                                        Create an Account <a href="/Home/SignUp" class="text-primary">Sign Up</a>
                                    </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Backend Bundle JavaScript -->
    <script src="/login/js/backend-bundle.min.js"></script>

    <!-- Flextree Javascript-->
    <script src="/login/js/flex-tree.min.js"></script>
    <script src="/login/js/tree.js"></script>

    <!-- Table Treeview JavaScript -->
    <script src="/login/js/table-treeview.js"></script>

    <!-- Masonary Gallery Javascript -->
    <script src="/login/js/masonry.pkgd.min.js"></script>
    <script src="/login/js/imagesloaded.pkgd.min.js"></script>

    <!-- Mapbox Javascript -->
    <script src="/login/js/mapbox-gl.js"></script>
    <script src="/login/js/mapbox.js"></script>

    <!-- Fullcalender Javascript -->
    <script src='/login/vendor/fullcalendar/core/main.js'></script>
    <script src='/login/vendor/fullcalendar/daygrid/main.js'></script>
    <script src='/login/vendor/fullcalendar/timegrid/main.js'></script>
    <script src='/login/vendor/fullcalendar/list/main.js'></script>

    <!-- SweetAlert JavaScript -->
    <script src="/login/js/sweetalert.js"></script>

    <!-- Vectoe Map JavaScript -->
    <script src="/login/js/vector-map-custom.js"></script>

    <!-- Chart Custom JavaScript -->
    <script src="/login/js/customizer.js"></script>

    <!-- Chart Custom JavaScript -->
    <script src="/login/js/chart-custom.js"></script>

    <!-- slider JavaScript -->
    <script src="/login/js/slider.js"></script>

    <!-- app JavaScript -->
    <script src="/login/js/app.js"></script>
</body>

<!-- Mirrored from templates.iqonic.design/prox/html/backend/auth-sign-in.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 13 Aug 2021 17:08:29 GMT -->
</html>

<script>
    $(document).ready(function () {
        $('.signInBtn').click(function () {
            email = $('#loginEmail').val();
            password = $('#loginPassword').val();
            var jsonObject = { 'email': email, 'password': password };
            $.ajax({
                type: "POST",
                url: "http://localhost:44364/api/UserAPI/LoginUser",
                data: JSON.stringify(jsonObject),
                contentType: 'application/json',
                success: function (response) {
                    alert(response.status);
                    if (response.status == 'login successfully') {
                        $.cookie('token', response.token);
                        window.location.href = '/Home/';
                    }

                },
                error: function (errormsg) { prompt("", JSON.stringify(errormsg)) }
            });
        });
    });
</script>
<script src="~/js/cookies.js"></script>