
@{
    ViewData["Title"] = "Role";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/assets/js/jquery-3.5.1.min.js"></script>


<div class="modal" id="modalUpdateRole" style="align-self:initial">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <div class="modal-header">
                    <h3>Student Update</h3>
                </div>
                <div class="modal-body">
                    <div>
                        <h1>Role</h1>
                        <div class="card">
                            <div class="card-header">
                                Add Role
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-6">
                                        RoleTitle
                                    </div>
                                    <div class="col-md-6">
                                        <input class="form-control" id="UpdatetxtRole" />
                                    </div>
                                </div>
                            </div>
                            <div class="card-footer">
                                <div align="center"><button class="btn btn-success UpdateRole">UPDATE</button></div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="button" id="closeModalS" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="page-wrapper">
    <div class="content">
        <h1>Role</h1>

        <div class="card">
            <div class="card-header">
                Add Role
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        RoleTitle
                    </div>
                    <div class="col-md-6">
                        <input class="form-control" id="txtRole" />
                    </div>
                </div>
            </div>
            <div class="card-footer">
                <button class="btn btn-success" type="button" id="btnAddRole">
                    Add Role
                </button>
            </div>
        </div>

        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <td>RoleId</td>
                        <td>RoleTitle</td>
                        <td>Status</td>
                        <td>Actions</td>
                    </tr>

                </thead>
                <tbody id="tblRole">
                </tbody>
            </table>
        </div>

    </div>
</div>






<script>
    $(document).ready(function () {
        $('#closeModalS').click(function () {
            $('#modalUpdateRole').hide();
        });
        GetRole();
        var updateRow;
        $('#btnAddRole').click(function () {
            var AddRole = $('#txtRole').val();
            var jsonObject = { "roleTitle": AddRole };
            $.ajax({
                type: "POST",
                url: "/api/RoleAPI/InsertRole",
                contentType: "application/json",
                data: JSON.stringify(jsonObject),
                success: function (response) {
                    if (response.status == "Role Added") {
                        $('#tblRole').html('');
                        GetRole();
                        alert("Role Added Successfully")
                    }

                }
            });
        });
    });

    function GetRole() {
        $.ajax({
            type: "GET",
            url: "/api/RoleAPI/GetRole",
            contentType: "application/json",
            success: function (response) {
                $.each(response, function (index, value) {
                    var Status = "Deactive";
                    var Deactivate = '<button class="btn btn-danger btnActivateRole" id="BtnActiveRole' + value.roleId + '">Activate</button>'

                    if (value.roleStatus == 1) {
                        Status = "Active";
                        Deactivate = '<button class="btn btn-primary btnDeactivateRole" id="BtnDeactiveRole' + value.roleId + '">Deactivate</button>'
                    }
                    $('#tblRole').append("<tr><td>" + value.roleId + "</td><td>" + value.roleTitle + "</td><td>" + Status + "</td><td><button class='btn btn-warning btnRowUpdate' id='updateRole" + value.roleId + "'>Update</button> | <a class='btn btn-warning' href='/Home/PermissionAssignToRole/" + value.roleId + "'>ManageRole</a>|" + Deactivate + "</td></tr>");
                });

            }
        });
        var Id;
        var updateRow;
        $(document).on('click', '.btnRowUpdate', function () {
            Id = $(this).attr('id');
            Id = Id.replace("updateRole", "");
            updateRow = $(this).closest('tr');
            RoleName = $(updateRow).find('td').eq(1).html();
            $('#UpdatetxtRole').val(RoleName);
            $('#modalUpdateRole').show();
        });
        $('.UpdateRole').click(function () {
            RoleName = $('#UpdatetxtRole').val();
            $(updateRow).find('td').eq(1).html(RoleName);
            var jsonObject = { 'roleId': Id, 'roleTitle': RoleName };
            $.ajax({
                type: "POST",
                url: "/api/RoleAPI/UpdateRole",
                contentType: "application/json",
                data: JSON.stringify(jsonObject),
                success: function (response) {
                    if (response.status == "Role Added") {
                        $('#tblRole').html('');
                        GetRole();
                        alert("Role Added Successfully")
                    }

                }
            });
            $('#modalUpdateRole').hide();
        });
        $(document).on('click', '.btnActivateRole', function () {
            Id = $(this).attr('id');
            Id = Id.replace("BtnActiveRole", "");
            jsonObject = { 'roleId': Id };
            $.ajax({
                type: "PUT",
                url: "/api/RoleAPI/ActivateRole",
                data: JSON.stringify(jsonObject),
                contentType: 'application/json',
                success: function (response) {
                    alert(response.status);
                    $('#BtnActiveRole' + response.id).parent().append('<button class="btn btn-primary btnDeactivate" id="BtnDeactiveRole' + response.id + '">Deactivate</button>');
                    $('#BtnActiveRole' + response.id).parent().parent().find('td').eq(2).html('Active');
                    $('#BtnActiveRole' + response.id).remove();
                },
                error: function (errormsg) { prompt("", JSON.stringify(errormsg)) }
            });
        });
        $(document).on('click', '.btnDeactivateRole', function () {
            Id = $(this).attr('id');
            Id = Id.replace("BtnDeactiveRole", "");
            jsonObject = { 'roleId': Id };
            $.ajax({
                type: "PUT",
                url: "/api/RoleAPI/DeactivateRole",
                data: JSON.stringify(jsonObject),
                contentType: 'application/json',
                success: function (response) {
                    alert(response.status);
                    $('#BtnDeactiveRole' + response.id).parent().append('<button class="btn btn-danger btnActivate" id="BtnActiveRole' + response.id + '">Activate</button>');
                    $('#BtnDeactiveRole' + response.id).parent().parent().find('td').eq(2).html('Deactive');
                    $('#BtnDeactiveRole' + response.id).remove();

                },
                error: function (errormsg) { prompt("", JSON.stringify(errormsg)) }
            });
        });

    }
</script>








@*<script>
    $(document).ready(function () {

        GetRole();
        var updateRow;
        $('#btnAddRole').click(function () {
            var AddRole = $('#txtRole').val();
            var jsonObject = { "roleTitle": AddRole };
            $.ajax({
                type: "POST",
                url: "http://localhost:44364/api/RoleAPI/InsertRole",
                contentType: "application/json",
                data: JSON.stringify(jsonObject),
                success: function (response) {
                    if (response.status == "Role Added") {
                        $('#tblRole').html('');
                        GetRole();
                        alert("Role Added Successfully")
                    }

                }
            });
        });
    });

    function GetRole() {
        $.ajax({
            type: "GET",
            url: "http://localhost:44364/api/RoleAPI/GetRole",
            contentType: "application/json",
            success: function (response) {
                $.each(response, function (index, value) {
                    var Status = "Deactive";

                    if (value.roleStatus == 1) {
                        Status = "Active";
                    }
                    $('#tblRole').append("<tr><td>" + value.roleId + "</td><td>" + value.roleTitle + "</td><td>" + Status + "</td><td><button class='btn btn-danger btnRowDelete'>Delete</button> | <button class='btn btn-warning btnRowUpdate'>Update</button> | <a class='btn btn-warning' href='/Home/PermissionAssignToRole/" + value.roleId + "'>ManageRole</a></td></tr>");
                });

            }
        });
    }
    $(document).on('click', '.btnRowUpdate', function () {
       // RoomID = $(this).attr('id');
       //// var roleID = $(this).val();
       // updateRow = $(this).closest('tr');
       // var Name = $(updateRow).find('td').eq(1).html();
       // var Email = $(updateRow).find('td').eq(2).html();
       // $('#txtUpdateName').val(Name);
       // $('#txtUpdateEmail').val(Email);
       // $('#lstUpdateRole').val(roleID);
        $('#modalUpdateUser').modal('show');
    });
</script>*@

